<div class="navbar" >
    <mat-toolbar color="primary">
      <div fxShow="true" fxHide.gt-sm="true" >
        <div (click)="sidenav.toggle()" >
          <mat-icon class="menu">menu</mat-icon>
        </div>
      </div>
      <span class="title"  routerLink="/">  SYSTEN-FOR-FINFING-FLIGHTS  </span> <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <span class="element-item" routerLink="/" mat-button>SERCH-FLIGHT</span>
      </div>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill class="example-container">
      <mat-sidenav #sidenav style="padding: 10px;" fxLayout="column">
        <div fxLayout="column">
          <div (click)="sidenav.toggle()" >
            <mat-icon>close</mat-icon>
          </div>
          <div class="element-item-mob" routerLink="/" mat-button>SERCH-FLIGHT</div>
        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill style="height: 100vh;"><router-outlet></router-outlet></mat-sidenav-content>
    </mat-sidenav-container>
  </div>